        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f8f9fa;
        }

        html,
        body {
            overflow-x: hidden;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        .background {
            width: 100%;
            height: 500px;
            position: relative;
            z-index: 0;
        }

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            color: #fff;
            padding: 0 20px;
            max-width: 600px;
            width: 90%;
            text-align: center;
        }

        .content h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
            font-weight: 700;
        }

        .content p {
            font-size: 1.2rem;
            line-height: 1.5;
        }

        @media (min-width: 768px) {
            .content {
                left: 5%;
                transform: translateY(-50%);
                text-align: left;
            }

            .content h1 {
                font-size: 3.5rem;
            }

            .content p {
                font-size: 1.5rem;
            }
        }


        .pushable {
            position: relative;
            background: white;
            border: none;
            cursor: pointer;
        }

        .front {
            display: block;
            position: relative;
            border-radius: 8px;
            background: #0d6efd;
            letter-spacing: 1.5px;
            transform: translateY(-4px);
            transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
        }

        .pushable:hover .front {
            transform: translateY(-6px);
            transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
        }

        .pushable:active .front {
            transform: translateY(-2px);
            transition: transform 34ms;
        }

        @media (max-width: 768px) {
            .thumb-wrapper::-webkit-scrollbar {
                display: none;
            }

            .thumb-wrapper {
                -ms-overflow-style: none;
                scrollbar-width: none;
                gap: .5rem;
            }

            .thumb-img {
                width: 120px;
                height: 80px;
                flex-shrink: 0;
            }

            .main-img-wrapper {
                height: auto;
                margin-top: 15px;
            }

            .main-img {
                height: auto;
                max-height: 250px;
            }

            .d-flexs {
                flex-direction: column;
                gap: 10px;
                display: flex !important;
            }

            .text-uppercase {
                margin-top: 3rem;
            }
        }

        .thumb-wrapper {
            overflow: auto;
        }



        /* ---------------------------------  Contact Us ------------------------------ */
        .our-services .nav-pills .nav-link {
            font-size: 10px;
            flex-direction: column;
        }

        .our-services .nav-pills .nav-link.res-padding {
            padding: 8px 8px;
        }

        .our-services .nav-pills .nav-link i {
            max-width: 35px;
            height: 35px;
            font-size: 1rem;
            margin-right: 0;
        }

        .why-choose .site-btn {
            width: 80%;
        }

        .mobile-bg-img {
            display: none;
        }

        .inside-pg-bnr {
            min-height: 0;
        }


        .address-info {
            background: url('../images/contact/info-bg') no-repeat center / cover;
        }

        .contact-info a {
            font-size: 14px;
        }

        .contact-info span {
            display: inline-block;
            margin: 8px 6px;
            padding: 8px 12px;
            border: 1px solid #dee2e6;
            border-radius: 5px;
        }

        .contact-info span:hover {
            background: #0d6efd;
            transition: all .5s;
        }

        .contact-info a:hover {
            transition: all .5s;
            color: white !important;
        }

        @media (max-width: 767.98px) {
            .address-info {
                background: linear-gradient(to right, #8e44ad, #e91e63);
                padding: .7rem;
            }

            .white-bg-img {
                background-color: rgba(255, 255, 255, 0.95);
            }

            .contact-detail {
                margin-top: -1rem;
            }

        }
